.container{
    height: 80vh;
    background-color: aliceblue;
    text-align: center;
}

.error{
    color: red;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#todo_list{
    word-break: break-all;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse; 
}

#list_block{
    margin: auto;
    width: 50%;
}


#search_form{
    margin: 20px;
}

.item_box{
    padding-top: 10px;
}

.item_box_p{
    padding-right: 15px;
    padding-top: 10px;
}

.modify_button{
    background-color: aquamarine;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 5px;
    padding: 5px ;
}
